@use "reset";
@use "fonts";
@use "base";

body {
  margin: 0 auto;
  min-width: 360px;
  max-width: 1920px;
  font-size: 16px;
  font-family: "Noto Sans TC", "Microsoft JhengHei", Arial, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}
h2{
  font-size: 100px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 1;
    &.vertical {
      writing-mode: vertical-rl;
      text-align:left;
    }
}
a{
  text-decoration: none;
  color: unset;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
img{
  width: 100%;
}
li{
  margin-left: 2rem;
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  h2{
    font-size: 80px;
  }
}
@media screen and (max-width: 768px) {
  h2{
  font-size: 60px;
    &.vertical {
      writing-mode: unset;
      text-align: center;
    }
  }
}